@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #ff4655; 
    --accent: #00ffd5; 
}

body {
    background-color: #060608;
    color: #ececec;
    font-family: 'Roboto', sans-serif;
}

.font-orbitron { font-family: 'Orbitron', sans-serif; }

/* Video de fondo fijo */
.hero-video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
    opacity: 0.40;
}

/* Efectos de Cristal */
.glass {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.glass-card {
    background: rgba(18, 18, 22, 0.7);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

.glass-card:hover {
    border-color: var(--accent);
    transform: translateY(-5px);
}

/* Badge del MVP */
.badge-winner {
    background: #daa520;
    color: black;
    transform: rotate(45deg);
    box-shadow: 0 4px 10px rgba(218, 165, 32, 0.4);
}